<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %} - VEFÞ2VF</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% include "haus.tpl" ignore missing %}
    <main>
        {% block content %} {% endblock %}
    </main>
    
    {% include "fotur.tpl" ignore missing %}
</body>
</html>