<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verkefni 2 - forsíða</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Þversuma kennitölu</h1>
    <ol>
        <li>Stjáni blái: <a href="/kt-sida/2302043456">2302043456</a></li>
        <li>Ronja ræningjadóttir: <a href="/kt-sida/1510018910">1510018910</a></li>
    </ol>
</body>
</html>